<div class="container">
	<div class="row">
		<div class="login-wrapper-img one-half column">
			<div class="container">
				<div clas="row">
					<div class="">
						<img class="login-img-logo" src="/images/no-logo.png">
					</div>
				</div>
			</div>
		</div>
		<div class="login-wrapper one-half column">
			<div class="login-container container">
				<div class="row">
					<h3>Welcome <%= name %> </h3>
					<h5>You've made it.</h5>
					<a href="/users/logout" id="linkLogout">Logout</a>
				</div>
			</div>
		</div>
	</div>
</div>