<div class="container">
	<div class="row">
		<div class="login-wrapper-img one-half column">
			<div class="container">
				<div clas="row">
					<div class="">
						<img class="login-img-logo" src="/images/no-logo.png">
					</div>
				</div>
			</div>
		</div>
		<div class="login-wrapper one-half column">
			<div class="register-container container">
				<div class="row">
					<h3>Register</h3>
					 
					<form action='/users/register' method="POST">
						<label for="usrname">Name:</label>
						<input type="text" id="usrname" class="login-txtbox" name="usrname" placeholder="John Doe..." value="<%= typeof usrname != 'undefined' ? usrname : '' %>">
						<label for="usremail">Email:</label>
						<input type="email" id="usremail" class="login-txtbox" name="usremail" placeholder="example@host.com..." value="<%= typeof usremail != 'undefined' ? usremail : '' %>">
						<label for="usrpwd1">Password:</label>
						<input type="password" id="usrpwd1" class="login-txtbox" name="usrpwd1" placeholder="Your password..." value="<%= typeof usrpwd1 != 'undefined' ? usrpwd1 : '' %>">
						<label for="usrpwd2">Re-type password:</label>
						<input type="password" id="usrpwd2" class="login-txtbox" name="usrpwd2" placeholder="Retype password..." value="<%= typeof usrpwd2 != 'undefined' ? usrpwd2 : '' %>">
						<hr>
						<div class="login-btn-wrap">
							<button type="button">Cancel</button>
							<button type="submit">Register</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>