.login-wrapper{
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 10%;
    padding: 4%;
    min-height: 60vh;
}

.login-wrapper-img{
    width: 100%;
    margin-top: 10%;
    padding: 4%;
    min-height: 60vh;
}

.login-txtbox{
    width: 100%;
}

.login-img-wrapper{

}

.login-img-logo{
    padding-top: 50%;
    margin: 0 auto;
    width: 100%;
}

.login-btn-wrap{
    display: flex;
    justify-content: space-around;
}